.slider-container {
  height: 99vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 99px;
  margin-right: 100px;
  position: relative;
}
.arrows-container {
  position: absolute;
  top: 50%;
  left: -61px;
  right: -53px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.slider-frame {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#imagesContainer {
  height: 400px;
  width: 2000px;
  display: flex;
  gap: 200px;
  transform: translateX(10px);
  transition: translate 600ms ease-in-out;
}

.images-container img {
  width: 100%;
  height: auto;
}

.arrow-right {
  background-image: url(./img/next.png);
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.arrow-left {
  background-image: url(./img/prev.png);
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.arrow-left:hover {
  transform: translateX(-5px);
  filter: brightness(110%);
}

.arrow-right:hover {
  transform: translateX(+5px);
  filter: brightness(110%);
}

.slider-navigation-dots {
  position: absolute;
  left: 40%;
  top: 60%;
  transform: translate(50%, 50%);
}

.slider-navigation-dots > ul {
  display: flex;
  gap: 20px;
}
